{% extends "layouts/base.html" %}

{% block content %}

<section class="standings">
    <div class="parent">
        <div class="round-of-32 div1">
            {% include "components/match.html" with id="760489" stage="round-of-32" %} {# M74 #}
        </div>
        <div class="round-of-32 div2">
            {% include "components/match.html" with id="760492" stage="round-of-32" %} {# M77 #}
        </div>
        <div class="round-of-32 div3">
            {% include "components/match.html" with id="760486" stage="round-of-32" %} {# M73 #}
        </div>
        <div class="round-of-32 div4">
            {% include "components/match.html" with id="760488" stage="round-of-32" %} {# M75 #}
        </div>
        <div class="round-of-32 div5">
            {% include "components/match.html" with id="760496" stage="round-of-32" %} {# M83 #}
        </div>
        <div class="round-of-32 div6">
            {% include "components/match.html" with id="760497" stage="round-of-32" %} {# M84 #}
        </div>
        <div class="round-of-32 div7">
            {% include "components/match.html" with id="760494" stage="round-of-32" %} {# M81 #}
        </div>
        <div class="round-of-32 div8">
            {% include "components/match.html" with id="760493" stage="round-of-32" %} {# M82 #}
        </div>
        <div class="round-of-16 div9">
            {% include "components/match.html" with id="760502" stage="round-of-16" %} {# M89 #}
        </div>
        <div class="round-of-16 div10">
            {% include "components/match.html" with id="760503" stage="round-of-16" %} {# M90 #}
        </div>
        <div class="round-of-16 div11">
            {% include "components/match.html" with id="760506" stage="round-of-16" %} {# M93 #}
        </div>
        <div class="round-of-16 div12">
            {% include "components/match.html" with id="760507" stage="round-of-16" %} {# M94 #}
        </div>
        <div class="quarter-final div13">
            {% include "components/match.html" with id="760510" stage="quarter-final" %} {# M97 #}
        </div>
        <div class="quarter-final div14">
            {% include "components/match.html" with id="760511" stage="quarter-final" %} {# M98 #}
        </div>
        <div class="semifinal div15">
            {% include "components/match.html" with id="760514" stage="semifinal" %} {# M101#}
        </div>
        <div class="final div16">
            {% include "components/match.html" with id="760517" stage="final" %} {# M104 #}
        </div>
        <div class="semifinal div17">
            {% include "components/match.html" with id="760515" stage="semifinal" %} {# M102#}
        </div>
        <div class="quarter-final div18">
            {% include "components/match.html" with id="760512" stage="quarter-final" %} {# M99 #}
        </div>
        <div class="quarter-final div19">
            {% include "components/match.html" with id="760513" stage="quarter-final" %} {# M100 #}
        </div>
        <div class="round-of-16 div20">
            {% include "components/match.html" with id="760504" stage="round-of-16" %} {# M91 #}
        </div>
        <div class="round-of-16 div21">
            {% include "components/match.html" with id="760505" stage="round-of-16" %} {# M92 #}
        </div>
        <div class="round-of-16 div22">
            {% include "components/match.html" with id="760509" stage="round-of-16" %} {# M95 #}
        </div>
        <div class="round-of-16 div23">
            {% include "components/match.html" with id="760508" stage="round-of-16" %} {# M96 #}
        </div>
        <div class="round-of-32 div24">
            {% include "components/match.html" with id="760487" stage="round-of-32" %} {# M76 #}
        </div>
        <div class="round-of-32 div25">
            {% include "components/match.html" with id="760490" stage="round-of-32" %} {# M78 #}
        </div>
        <div class="round-of-32 div26">
            {% include "components/match.html" with id="760491" stage="round-of-32" %} {# M79 #}
        </div>
        <div class="round-of-32 div27">
            {% include "components/match.html" with id="760495" stage="round-of-32" %} {# M80 #}
        </div>
        <div class="round-of-32 div28">
            {% include "components/match.html" with id="760500" stage="round-of-32" %} {# M86 #}
        </div>
        <div class="round-of-32 div29">
            {% include "components/match.html" with id="760499" stage="round-of-32" %} {# M88 #}
        </div>
        <div class="round-of-32 div30">
            {% include "components/match.html" with id="760498" stage="round-of-32" %} {# M85 #}
        </div>
        <div class="round-of-32 div31">
            {% include "components/match.html" with id="760501" stage="round-of-32" %} {# M87 #}
        </div>
        <div class="div32 stage">Dieciseisavos de final</div>
        <div class="div33 stage">Octavos de final</div>
        <div class="div34 stage">Cuartos de final</div>
        <div class="div35 stage">Semifinal</div>
        <div class="div36 stage">Final</div>
        <div class="div37 stage">Semifinal</div>
        <div class="div38 stage">Cuartos de final</div>
        <div class="div39 stage">Octavos de final</div>
        <div class="div40 stage">Dieciseisavos de final</div>
        <div class="div41 heading-contanier">
            <div>
                <h1 class="heading">Predicciones del mundial - Diario Democracia</h1>
                <p class="sub-heading"></p>
                Gana un televisor
                </p>
            </div>
        </div>
    </div>
</section>

<section class="lb-page">
    {% include "components/leaderboard.html" %}
</section>


{% endblock %}
